/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2020, 8:33:39 PM
    Author     : Lahiru De silva 
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

h4 {
    margin-left: 20px;
}


body {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: -2;
}

.layout {
    -webkit-box-align: baseline;
    align-items: baseline;
    display: -webkit-box;
    -webkit-box-pack: baseline;
    justify-content: space-around;
    height: 100vh;
    max-width: 1524px;
    margin-left: 190px;
    margin-top: 70px;
    margin-bottom: 20px;
}

@-webkit-keyframes popUp {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popUp {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes slideUp {
    from {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

.profile {
    -webkit-animation: popUp ease-in-out 350ms;
    animation: popUp ease-in-out 350ms;
    background: #262525;
    color: white;
    border-radius: 25px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
    margin-right: 10px;

    position: relative;
    padding: 38px 30px 30px 35px;
    width: 500px;
    flex-wrap: wrap;

}

.profile:hover {
    opacity: 0.6;
}

.profile__account {
    align-self: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-left: 135px;
}

.profile__button {
    border-radius: 50px;
    border: 1px solid coral;
    color: coral;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: ease-in-out 250ms background, ease-in-out 250ms color;
    transition: ease-in-out 250ms background, ease-in-out 250ms color;
}

.profile__button:hover {
    background: #000000;
    color: #ffffff;
    border: #000000;
}

.profile__edit {
    -webkit-box-flex: 0;
    flex: none;
    margin-left: 30px;
    width: 140px;
}

.profile__header {
    display: -webkit-box;
    display: flex;
    margin-bottom: 20px;
}

.profile__icon {
    -webkit-box-flex: 0;
    flex: none;
    font-size: 1.5em;
    margin-right: 10px;
    padding-top: 3px;
}

.profile__icon--gold {
    color: #eab100;
}

.profile__icon--blue {
    color: #8faae8;
}

.profile__icon--pink {
    color: #ff86af;
}

.profile__key {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.profile__picture {
    background: #ffffff;
    border-radius: 100px;
    border: 5px solid #ffffff;
    height: 125px;
    position: absolute;
    top: -40px;
    width: 125px;
}

.profile__picture:before {
    border-radius: 100px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
    content: "";
    height: calc(100% + 20px);
    left: -10px;
    position: absolute;
    top: -10px;
    width: calc(100% + 20px);
    z-index: -1;
}

.profile__picture img {
    border-radius: 100px;
    height: 100%;
    width: 100%;
}

.profile__stat {
    -webkit-animation: slideUp ease-in-out 350ms forwards;
    border-right: 1px solid #e9e9e9;
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 0;
    padding: 10px 4px;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.profile__stat:last-of-type {
    border-right: none;
}

.profile__stat:nth-child(1) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.profile__stat:nth-child(2) {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.profile__stat:nth-child(3) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.profile__stats {
    display: -webkit-box;
    display: flex;
}

.profile__username {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

.profile__value {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
